<div class="container " style="margin-top: 120px">
  <div class="card" *ngIf="product">
    <div class="row g-0">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image"> <img [src]="currentImg || product.img" id="main_product_image" width="350">
          </div>
          <div class="thumbnail_images" style="overflow-x: scroll;">
            <ul id="thumbnail">
              <li *ngFor="let data of product.imgs"><img (click)="changeImage(data)" [src]="data" width="70"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="px-3 right-side">
          <div class="d-flex justify-content-between align-items-center">
            <h1 style="color:#6e757c;font-size: 35px;">{{product.name}}</h1> <span class="heart"><i
                class='bx bx-heart'></i></span>
          </div>
          <div class="pr-3 content">
            <p style="font-size: 15px;font-style: italic;">Category: {{product.categoryId?.name}}</p>
          </div>
          <div class="d-flex gap-2 mb-3">
            <i class="fa-solid fa-star" style="color: #f7bc3d;"></i>
            <i class="fa-solid fa-star" style="color: #f7bc3d;"></i>
            <i class="fa-solid fa-star" style="color: #f7bc3d;"></i>
            <i class="fa-solid fa-star" style="color: #f7bc3d;"></i>
            <i class="fa-solid fa-star" style="color: #f7bc3d;"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 style="margin: 0;color:#6e757c;">Price:</h3>
            <h2 style="color:#6e757c;">{{product.price}} đ</h2>
          </div>
          <div class="mt-3 d-flex flex-column">
            <h3 style="margin: 0;color:#6e757c;">Quantity:</h3>
            <div style="margin-top: 10px;" class="d-flex gap-3">
              <input min="1"
                style="padding:10px;border-radius: 5px; max-width: 100px; border:1px solid #6e757c;outline: none; font-size: 16px;"
                value="1" [(ngModel)]="quantity" [defaultValue]="quantity" type="number">
              <button class="btn" style="color:#ec6761;background-color: #ec6761;color:white" (click)="addToCart()">Add
                to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 30px;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" style="color: #333;" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
          type="button" role="tab" aria-controls="home" aria-selected="true">Mô tả</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" style="color: #333;" data-bs-toggle="tab" data-bs-target="#profile"
          type="button" role="tab" aria-controls="profile" aria-selected="false">Đánh giá</button>
      </li>
      <!-- <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" style="font-size: 19px;" data-bs-toggle="tab" data-bs-target="#contact" type="button"
       role="tab" aria-controls="contact" aria-selected="false">Contact</button>
    </li> -->
    </ul>
    <div class="tab-content" style="margin-top: 25px;" id="myTabContent">
      <div class="tab-pane fade show active" id="home" style=" margin-left: 10px;" role="tabpanel"
        aria-labelledby="home-tab">{{product.description}}</div>


      <div class="tab-pane fade" id="profile" style="margin-top: 25px; margin-left: 10px;" role="tabpanel"
        aria-labelledby="profile-tab">


        <div class="">
          <div class="d-flex justify-content-start">
            <div class="d-flex flex-column col-md-8" style="width: 100%;">
              <div class="coment-bottom bg-white p-2 px-4">
                <div class="d-flex flex-column add-comment-section mb-5">
                  <div class="card flex justify-content-center">
                    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
                    <small class="ng-dirty ng-invalid" style='color:red' *ngIf="submitted && !value">Rating is
                      required.</small>
                  </div>
                  <textarea name="" id="" cols="30" rows="5"
                    style="width: 100%;padding: 10px;border-radius: 8px;margin-top: 10px;"
                    placeholder="Enter your feedback..." [(ngModel)]="feedBack"></textarea>
                  <small class="ng-dirty ng-invalid" style='color:red' *ngIf="submitted && !feedBack">Feedback is not
                    empty is required.</small>
                  <small class="ng-dirty ng-invalid" style='color:red'
                    *ngIf="submitted && feedBack && feedBack.length < 6 ">Feedback must be 5 character.</small>
                  <div>

                    <button class="btn btn-primary mt-3" type="button" (click)="submitFeedback()">Comment</button>
                  </div>
                </div>
                <div *ngIf="feedbacks.length > 0">
                  <div *ngFor="let item of feedbacks" class="commented-section mt-2 pb-4"
                    style="border-bottom: 1px solid #ccc;">
                    <div class="d-flex flex-row align-items-center commented-user">
                      <h5 class="mr-2">{{item.name}}</h5>
                      <div class="d-flex gap-1 mb-1">
                        <i *ngFor='let star of getRateArray(item.rate)' class="fa-solid fa-star"
                          style="color: #3B82F6;"></i>
                      </div>
                    </div>
                    <div class="comment-text-sm">
                      <span>{{item.content}}</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="tab-pane fade" id="contact" style="margin-top: 25px; margin-left: 10px;" role="tabpanel" aria-labelledby="contact-tab">3</div> -->
    </div>
  </div>

  <section class="py-0">
    <div class="container">
      <div class="row h-100">
        <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">Relate Products</h5>
        </div>
        <div class="row">
          <div *ngFor="let item of relateProducts" class="col-md-3 col-sm-6 mb-3">
            <div class="product-grid" style="border-radius: 5px; overflow: hidden;">
              <div class="product-image">
                <a [href]="'/products/'+item?._id" class="image">
                  <img [routerLink]="'/products/'+item?._id" class="pic-1" [src]="item.img">
                  <img [routerLink]="'/products/'+item?._id" class="pic-2" [src]="item.imgs[1] ||item.imgs[0] ">
                </a>
                <ul class="product-links">
                  <li><a [href]="'/products/'+item?._id"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a [href]="'/products/'+item?._id"><i class="far fa-heart"></i></a></li>
                  <li><a [href]="'/products/'+item?._id"><i class="fa fa-random"></i></a></li>
                  <li><a [href]="'/products/'+item?._id"><i class="fa fa-search"></i></a></li>
                </ul>
              </div>
              <div class="product-content">
                <ul class="rating">
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                  <li class="far fa-star"></li>
                  <li class="far fa-star"></li>
                </ul>
                <h3 style="width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="title">
                  <a style="text-decoration: none;" [href]="'/products/'+item?._id">{{item?.name}}</a>
                </h3>
                <div class="d-flex align-items-center gap-2">

                  <h2 class="price" style="margin:0">{{item?.price}} đ</h2>
                  <del *ngIf='item?.discount > 0' style="color:#ccc">{{(item?.price * (item?.discount /
                    100)).toFixed(2)}} đ</del>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div><!-- end of .container-->
  </section>